################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HeatSheetHelperBlazor/copilot-chat/b2690e4a/sessions
/.vs/HeatSheetHelperBlazor/CopilotIndices
/.vs/HeatSheetHelperBlazor/v17
/.vs/HeatSheetHelperBlazor/config
/.vs/HeatSheetHelperBlazor/DesignTimeBuild
/.vs
