@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="page">
    <div class="nav-menu">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var color = await JS.InvokeAsync<string>("blazorLocalStorage.get", "tableHeaderColor");
            if (!string.IsNullOrEmpty(color))
            {
                await JS.InvokeVoidAsync("setTableHeaderColor", color);
            }

            var fontSize = await JS.InvokeAsync<string>("blazorLocalStorage.get", "tableFontSize");
            if (!string.IsNullOrEmpty(fontSize))
            {
                await JS.InvokeVoidAsync("setTableFontSize", $"{fontSize}px");
            }
        }
    }
}