@page "/settings"

<h3>Settings</h3>

<div>
    <label for="headerColor">Theme Color:</label>
    <input id="headerColor" type="color" @bind="headerColor" />
    
    <button @onclick="SaveColor">Save</button>
    <button @onclick="ResetColor">Reset</button>
</div>

<div>
    <label for="fontSizeSlider">Table Font Size: @fontSizePx</label>
    <input id="fontSizeSlider" type="range" min="8" max="18" @bind="fontSize"/>
    <button @onclick="SaveFontSize">Save Font Size</button>
</div>

